@{
    ViewBag.Title = "Receive";
}

<h2>Receive</h2>

<script src="~/Scripts/jquery-1.6.4.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
<script src="~signalr/hubs"></script>
<script type="text/javascript">

    $(function () {

        var recieveChat = $.connection.ch
    });
</script>