<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Assignments.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Assignments.Properties.Settings>
            <setting name="LightningValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LunchTime" serializeAs="String">
                <value>12:00:00 PM</value>
            </setting>
            <setting name="TalkTimeKeyword" serializeAs="String">
                <value>LIGHTNING</value>
            </setting>
            <setting name="TalkTimePattern" serializeAs="String">
                <value>\b(?&lt;time&gt;\d+)\w+?\b$</value>
            </setting>
            <setting name="UniqueSessionMaxSize" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>180</string>
                        <string>240</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NetworkEventMinTime" serializeAs="String">
                <value>5:00:00 PM</value>
            </setting>
            <setting name="NetworkEventMaxTime" serializeAs="String">
                <value>4:00:00 PM</value>
            </setting>
            <setting name="MorningMinTime" serializeAs="String">
                <value>9:00:00 AM</value>
            </setting>
            <setting name="MorningMaxTime" serializeAs="String">
                <value>12:00:00 PM</value>
            </setting>
            <setting name="AfternoonMinTime" serializeAs="String">
                <value>1:00:00 PM</value>
            </setting>
            <setting name="AfternoonMaxTime" serializeAs="String">
                <value>5:00:00 PM</value>
            </setting>
            <setting name="LunchTitle" serializeAs="String">
                <value>Lunch</value>
            </setting>
        </Assignments.Properties.Settings>
    </applicationSettings>
</configuration>